{% extends 'base.html' %}
{% block content %}
            <h1>About</h1>
            <p>I'm Jason Lam. I'm a software developer in New Jersey.
            <p>I grew up in Northern Virginia and attended TJHSST.
            <p>I graduated from MIT in 2020 with an <a href="https://credentials.mit.edu/certificate/ae7b07bc9ce3527da16e60f271d9eea3">MEng in EECS</a> and a <a href="https://credentials.mit.edu/certificate/4ec5025412e35f9eaceee4d221ef3e4f">BS in CS and in Management</a>.
            <p>I <a href="/about/webdev">build websites</a>, <a href="/about/code">write code</a>, and <a href="/about/gaming">play video games</a>. I also used to watch a little <a href="/about/anime">anime</a>.
{% endblock %}

