{% extends 'base.html' %}
{% block content %}
            <h1>About</h1>
            <p class=indented>Hi, I'm Jason, a sophomore studying Computer Science and Management at MIT. I lived in Fuzhou, Fujian, China for four years as a "satellite baby" before returning to Northern Virginia. I attended Thomas Jefferson High School for Science and Technology, where I did algorithmic computing, participated in EconChallenge, and played trumpet. I've also studied Taekwondo since age 8 and have a third degree black belt.</p>
            <p class=section><strong>Video Games</strong></p>
            <p class=indented>I've always loved video games. Some of my earliest memories include playing classic games such as Pok&eacute;mon Gold, A Link to the Past, and AdventureQuest. I created a Steam account to get Portal for free in 2011, and later discovered Team Fortress 2. I proceeded to run my own game servers and <a href="https://sourcemod.net/plugins.php?author=bobomaster&search=1">wrote some server plugins</a> too. Here are some of my game profiles:</p>
            <ul>
                <li><a href="https://aq.battleon.com/build30/charview.asp?temp=31603506">AdventureQuest</a>
                <li><a href="http://www.sploder.com/games/members/bobomaster/">Sploder</a>
                <li><a href="https://steamcommunity.com/id/tesu-">Steam</a>
                <li><a href="https://www.opendota.com/players/88741454">Dota 2</a>
                <li><a href="https://osu.ppy.sh/users/4196554">Osu!</a>
                <li><a href="https://www.twitch.tv/tesu">Twitch</a>
                <li><a href="https://www.pathofexile.com/account/view-profile/3edgy6u">Path of Exile</a>
                <li><a href="http://na-bns.ncsoft.com/ingame/bs/character/profile?c=Kurumiko">Blade & Soul</a>
                <li><a href="https://masteroverwatch.com/profile/pc/us/tesu-11691">Overwatch</a>
                <li><a href="https://na.finalfantasyxiv.com/lodestone/character/20558971/">Final Fantasy XIV</a>
            </ul>
            <p class=section><strong>Japanese Media</strong></p>
            <p class=indented>The first anime I watched in Japanese was Mahou Shoujo Madoka Magica during the summer of 2013. However, this wasn't my first experience with weeaboo culture&mdash;I played Katawa Shoujo on release, and also associated with /a/ users on Google+ long beforehand. My favorite anime studio is Studio Trigger. I'm a big fan of their style and enjoyed all of their shows besides Kiznaiver. I'm also a big Type-Moon fan, having read or watched most of their works. Back in the day, I was an editor for Chihiro-Fansubs, but found it difficult to stay motivated when fansubbing was so dead. My weeaboo profiles are below:
            <ul>
                <li><a href="https://myanimelist.net/profile/420anon">MyAnimeList.net</a>
                <li><a href="https://myfigurecollection.net/profile/tesu">MyFigureCollection.net</a>
                <li><a href="https://vndb.org/u92844/list">VNDB.org</a>
            </ul>
            <p class=section><strong>Programming</strong></p>
            <p class=indented>My interest in programming stemmed from an early desire to create games. Upon entering high school, I taught myself some C++ to do competitive programming. I also took classes to learn Java and Android development. I worked with Ruby on Rails, my first MVC framework, during my internship in 2015. Later on, During my various side projects over the years, I have worked with Python, Django, PHP, C#, Node.js, and Meteor.</p>
            <p class=section><strong>Web Development</strong></p>
            <p class=indented>I first became motivated to create my own website after seeing other users' websites on Sploder. <a href="http://boboclub.webs.com">My first website from 2009</a> serves as a painful reminder of how bad I was (am?) at web design. The website you're currently on is version 4.0 of 3edgy6u.com. The site was initially a self-hosted Wordpress blog, which was later replaced by a PHP site that embedded my Google+ feed. Version 3.0 was merely mobile-friendly reskin of the previous PHP site, while this version is a complete rewrite in Flask.</p>
{% endblock %}

