{% extends 'base.html' %}
{% block content %}
            <h1>About</h1>
            <p>I'm Jason Lam.
            <p>I graduated from MIT in 2020 with a Masters of Engineering in Computer Science and a Bachelors of Science in both Computer Science and Management Science.
            <p>I grew up in Northern Virginia and went to Thomas Jefferson High School for Science and Technology.
            <p>I <a href="/about/webdev">build websites</a>, <a href="/about/code">write code</a>, and <a href="/about/gaming">play video games</a>. I also used to watch some <a href="/about/anime">anime</a> in my free time.
{% endblock %}

