{% extends 'base.html' %}
{% block content %}
            <h1>Contact</h1>
            <p>Email is the best way to contact me; my email address is literally just my full name followed by @mit.edu.</p>
            <p>Contacting me over <a href="https://m.me/3edgy6u">Facebook Messenger</a> is another good option.</p>
            <p>Alternatively, messaging tesu#5948 on Discord will also get a quick response.</p>
            <p>You can find me on IRC as tesu on Freenode and Rizon, but I'm usually offline these days.</p>
{% endblock %}
