{% extends 'base.html' %}
{% block content %}
            <section class=flex>
                <div class=nierbox>
                    <h2 class=title>Links</h2>
                    <ul class=body>
                        <li><a href="https://x.com/tesu36">X</a>
                        <li><a href="https://www.eventernote.com/users/tesu">Eventernote</a>
                        <li><a href="https://s.team/u/tesu-">Steam</a>
                    </ul>
                </div>
            </section>
{% endblock %}
