        {% if api %}
        <aside>
            <div class=nierbox>
                <div class=title>
                    Recently Played Games
                    <span class=right>Hours</span>
                </div>
                <ul class=body>
                {% for x in api['games'] %}
                    <li title="{{ x[0] }}"><span class=left>{{ x[0] }}</span><span class=right>{{ x[1] }}</span>
                {% endfor %}
                </ul>
            </div>
            <div class=nierbox>
                <div class=title>External Links</div>
                <ul class=body>
                    <li title=Keybase><a href="https://keybase.io/tesu">Keybase</a>
                    <li title=GitHub><a href="https://github.com/tesu">GitHub</a>
                    <li title=YouTube><a href="https://youtube.com/3edgy6u">YouTube</a>
                    <li title=Twitch><a href="https://twitch.tv/tesu">Twitch</a>
                </ul>
            </div>
        </aside>
        {% endif %}
