        {% if api %}
        <aside>
            <div class=nierbox>
                <div class=title>
                    Recently Played Games
                    <span class=right>Hours</span>
                </div>
                <ul class=body>
                {% for x in api['steam'] %}
                    <li title="{{ x[0] }}">
                        <span class=left>{{ x[0] }}</span>
                        <span class=right>{{ x[1] }}</span>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class=nierbox>
                <div class=title>
                    Recently Watched Anime
                    <span class=right>Progress</span>
                </div>
                <ul class=body>
                {% for x in api['mal'] %}
                    <li title="{{ x[0] }}">
                        <span class=left>{{ x[0] }}</span>
                        <span class=right>{{ x[1] }}</span>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class=nierbox>
                <div class=title>Recently Played Music</div>
                <ul class=body>
                {% for x in api['lastfm'] %}
                    <li title="{{ x[0] }} - {{ x[1] }}">{{ x[0] }} - {{ x[1] }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class=nierbox>
                <div class=title>External Links</div>
                <ul class=body>
                    <li title=Google+><a href="https://plus.google.com/+jasonlam">Google+</a></li>
                    <li title=Facebook><a href="https://facebook.com/3edgy6u">Facebook</a></li>
                    <li title=Twitter><a href="https://twitter.com/3edgy6u">Twitter</a></li>
                    <li title=Last.fm><a href="https://last.fm/user/jason-lam">Last.fm</a></li>
                    <li title=LinkedIn><a href="https://linkedin.com/in/jlam36">LinkedIn</a></li>
                    <li title=Github><a href="https://github.com/tesu">Github</a></li>
                    <li title=Keybase><a href="https://keybase.io/tesu">Keybase</a></li>
                    <li title=MyAnimeList.net><a href="https://myanimelist.net/profile/420anon">MyAnimeList.net</a></li>
                    <li title=MyFigureCollection.net><a href="https://myfigurecollection.net/profile/tesu">MyFigureCollection.net</a></li>
                    <li title=Steam><a href="https://steamcommunity.com/id/tesu-">Steam</a></li>
                    <li title=Twitch><a href="https://twitch.tv/tesu">Twitch</a></li>
                    <li title=VNDB.org><a href="https://vndb.org/u92844/list">VNDB.org</a></li>
                    <li title=YouTube><a href="https://youtube.com/3edgy6u">YouTube</a></li>
                </ul>
            </div>
        </aside>
        {% endif %}
