{% extends 'base.html' %}
{% block content %}
            <h1>Projects</h1>
            {% for project in projects %}
            <article class=flex>
                <form action={{ url_for('edit_projects') }} method=post>
                    <div class=nierbox>
                        <input type=hidden name=id value={{ project.id }}>
                        <h2 class=title><input name=name value="{{ project.name }}"></h2>
                        <div class=body>
                            <p><textarea name=description>{{ project.description }}</textarea>
                            <p><input name=url value="{{ project.url }}">
                            <p><input name=urlname value="{{ project.urlname }}">
                            <p><input name=img value="{{ project.img }}">
                            <p><input type=submit value=Update>
                        </div>
                    </div>
                </form>
            </article>
            {% endfor %}
            <article class=flex>
                <form action={{ url_for('edit_projects') }} method=post>
                    <div class=nierbox>
                        <h2 class=title><input name=name></h2>
                        <div class=body>
                            <p><textarea name=description></textarea>
                            <p><input name=url>
                            <p><input name=urlname>
                            <p><input name=img>
                            <p><input type=submit value=Insert>
                        </div>
                    </div>
                </form>
            </article>
{% endblock %}

