{% extends 'base.html' %}
{% block content %}
            <h1>About Anime</h1>
            <p class=indented>I watched Mahou Shoujo Madoka Magica during the summer of 2013. This was the first subbed anime that I watched. However, it wasn't my first encounter with anime culture, since I was already friends with many /a/ users on Google+. I had also read Katawa Shoujo when it was first released, so I read my first VN before watching my first anime&mdash;not something many people can say. 
            <p class=indented>My favorite anime studio is Studio Trigger. I'm a big fan of all of their shows besides Kiznaiver. Haven't gotten to watching Darling in the FranXXX yet though. I'm also a big Type-Moon fan.
            <p class=indented>I had a brief stint with fansubbing when I worked as an editor for Chihiro-Fansubs. However, I found it difficult to stay motivated since delays were rampant so I quit. Believe me when I say that fansubbing is really, and truly, dead.
            <p class=indented>I've gone to a few anime conventions (Otakon, Katsucon, Anime Boston) but I don't really see the hype. I'm not super into cosplaying, most of the panels I go to are boring, and all I really end up doing is window shopping all the merchandise that I really shouldn't buy. The video game sections are usually pretty fun, but if I'm just going to anime conventions to play video games...
            <p class=indented>Here are some links:
            <ul>
                <li><a href="https://myanimelist.net/profile/420anon">MyAnimeList.net</a>
                <li><a href="https://myfigurecollection.net/profile/tesu">MyFigureCollection.net</a>
                <li><a href="https://vndb.org/u92844/list">VNDB.org</a>
            </ul>
{% endblock %}

