{% extends 'base.html' %}
{% block content %}
            <h1>Weeb Stuff</h1>
            <p class=indented>I don't watch anime anymore. I stopped watching seasonal anime after 2017, and completely stopped after 2018. I still listen to a fair amount of anime music.
            <p class=indented>My favorite anime studio is (was?) Studio Trigger. I'm a huge fan of Kill la Kill, Inferno Cop, and Space Patrol Luluco. I also like Type-Moon stuff. No love for Fate/Grand Order though, and the localization for Mahoutsukai no Yoru came out way too late for me to care.
            <p class=indented>I had a brief stint with fansubbing in 2017. I edited for Chihiro-Fansubs, but quit after two seasons due to lack of motivation. Fansubbing is dead.
            <p class=indented>I occasionally go to anime conventions (Otakon, Katsucon, Anime Boston, Anime Central, Anime NYC). I typically enjoy their arcade areas; my go-to games include DDR/ITG, Sound Voltex, and jubeat.
            <hr>
            <ul>
                <li><a href="https://www.eventernote.com/users/tesu/events">Eventernote</a>
                <li><a href="https://anilist.co/user/tesu">AniList.co</a>
                <li><a href="https://myfigurecollection.net/profile/tesu">MyFigureCollection.net</a>
                <li><a href="https://vndb.org/u92844/list">VNDB.org</a> (<a href="https://vnstat.net/user/92844">VNStat</a>)
            </ul>
{% endblock %}

