{% extends 'base.html' %}
{% block content %}
            <h1>Weeb Stuff</h1>
            <p class=indented>I don't watch anime anymore. I stopped watching seasonal anime after 2017, and completely stopped after 2018.
            <p class=indented>My favorite anime studio is (was?) Studio Trigger. I'm a huge fan of Kill la Kill, Inferno Cop, and Space Patrol Luluco. I also really enjoy Type-Moon stuff. No love for Fate/Grand Order though, and the localization for Mahoutsukai no Yoru came out way too late for me to care.
            <p class=indented>I had a brief stint with fansubbing in 2017. I was an editor for Chihiro-Fansubs, but quit after two seasons due to lack of motivation. Fansubbing is dead.
            <p class=indented>I've attended many anime conventions (Otakon, Katsucon, Anime Boston, Anime Central, Anime NYC) but they're whatever to me. I don't care about cosplay, all the fan panels suck, and I usually end up purchasing merch that I could get cheaper online. I do enjoy their arcade sections (usually rented from Tokyo Attack); my go-to games include DDR/ITG, Sound Voltex, and jubeat.
            <hr>
            <ul>
                <li><a href="https://anilist.co/user/tesu">AniList.co</a>
                <li><a href="https://myfigurecollection.net/profile/tesu">MyFigureCollection.net</a>
                <li><a href="https://vndb.org/u92844/list">VNDB.org</a> (<a href="https://vnstat.net/user/92844">VNStat</a>)
            </ul>
{% endblock %}

