{% extends 'base.html' %}
{% block content %}
            <h1>About Programming</h1>
            <p class=indented>I wanted to make video games; that was my initial motivation for becoming a programmer. Even though my interests have broadened since then, game development is still very dear to me. That being said, the first lines of code I wrote were for web development; I taught myself JavaScript and PHP in 4th grade.
            <p class=indented>Upon entering high school, I taught myself enough C++ to do competitive programming, while I learned Java and Android development in school. I learned Ruby on Rails during an internship, and later started working with Django.
            <p class=indented>During college, I used a lot more Python, with some C and Java on the side. I also begrudgingly used C# for game development in Unity. I picked up OCaml during my 2018 internship, and use it at my day job.
{% endblock %}

