{% extends 'base.html' %}
{% block content %}
            <h1>About Programming</h1>
            <p class=indented>I wanted to make video games. That was my initial motivation for becoming a programmer, and even though my horizons have broadened a lot, game development is still very dear to me. That being said, the first lines of code I wrote were for web development; I taught myself JavaScript and PHP to further my web development goals.
            <p class=indented>Upon entering high school, I taught myself enough C++ to do competitive programming, while I learned Java and Android development in the classroom. I got a web development internship, where I learned Ruby on Rails, my first MVC framework. I then branched out and started working with Django.
            <p class=indented>Now that I'm in college, I've been using a lot more Python, with some C and Java on the side. I've also begrudgingly used C# for game development in Unity. After my summer 2018 internship with Jane Street Capital, I've come to appreciate OCaml and functional programming in general.
{% endblock %}

