{% extends 'base.html' %}
{% block content %}
            <h1>Programming</h1>
            <p class=indented>As a child, I wanted to learn to code to create video games. That being said, I started off with web development by learning JavaScript and PHP through library books in 4th grade.
            <p class=indented>In high school, I taught myself C++ for competitive programming and learned Java and Android development in class. I learned Ruby on Rails during an internship, and picked up Django next.
            <p class=indented>I wrote a lot of Python in college, with some C, C++, and Java on the side. I also begrudgingly used C# for Unity game development. I picked up OCaml during my 2018 internship, and have heavily used it since.
{% endblock %}

