{% extends 'base.html' %}
{% block content %}
            <h1>About Gaming</h1>
            <p class=indented>I play a lot of video games. Some of the first games I played were Pok&eacute;mon Gold, A Link to the Past, and AdventureQuest. The only consoles I've owned are a SNES, a PlayStation One, a Game Boy Color, and a Nintendo DS.
            <p class=indented>I created my Steam account in 2011 to get Portal for free, and I've been a PC gamer ever since. Back then, I mostly played Spiral Knights and Team Fortress 2. I even spun up a couple of my own servers and <a href="https://sourcemod.net/plugins.php?author=bobomaster&search=1">wrote some plugins</a> for Team Fortress 2.
            <p class=indented>I've played a lot of MMOs, most of them being free-to-play. I'm not sure why I continue subjecting myself to the grind, but I do it anyway. Tera Online, Blade &amp; Soul, Dungeon Fighter Online, The Elder Scrolls Online, Star Wars: The Old Republic, Spiral Knights, Pok&eacute;MMO, Wakfu, Rusty Hearts... I've settled on Final Fantasy XIV for the time being.
            <p class=indented>I also consider myself an avid Dota 2 player even though I'm really bad at the game. I also have the least games played out of all my Dota friends, so I guess that's one reason why. I attended The International in 2016 and 2017.
            <p class=indented>Here are my gaming PC's specs:
            <ul>
                <li>AMD Ryzen 9 3950X CPU
                <li>Noctua NH-D15 CPU Cooler
                <li>Asus TUF GAMING X570-PLUS Motherboard
                <li>G.Skill Ripjaws V 32GB DDR4-3600 RAM
                <li>EVGA GeForce RTX 3080 FTW3 ULTRA GAMING Video Card
                <li>Corsair RM750 Power Supply
                <li>Corsair 275R Airflow ATX Mid-Tower Case
            </ul>
            <hr>
            <ul>
                <li><a href="https://aq.battleon.com/game/flash/charview?temp=31603506">AdventureQuest</a>
                <li><a href="http://www.sploder.com/games/members/bobomaster/">Sploder</a>
                <li><a href="https://steamcommunity.com/id/tesu-">Steam</a>
                <li><a href="https://www.opendota.com/players/88741454">Dota 2</a>
                <li><a href="https://osu.ppy.sh/users/4196554">Osu!</a>
                <li><a href="https://www.twitch.tv/tesu">Twitch</a>
                <li><a href="https://www.pathofexile.com/account/view-profile/3edgy6u">Path of Exile</a>
                <li><a href="http://na-bns.ncsoft.com/ingame/bs/character/profile?c=Kurumiko">Blade &amp; Soul</a>
                <li><a href="https://www.overbuff.com/players/pc/tesu-11691">Overwatch</a>
                <li><a href="https://na.finalfantasyxiv.com/lodestone/character/20558971/">Final Fantasy XIV</a> (<a href="https://www.fflogs.com/character/id/8533924">FFLogs</a>)
                <li><a href="https://www.groovestats.com/index.php?page=profile&id=77728">In the Groove</a>
                <li><a href="https://p.eagate.573.jp/gate/p/mypage/index.html?target_id=7355003">E-amusement</a>
            </ul>
{% endblock %}

