{% extends 'base.html' %}
{% block content %}
            <h1>Gaming</h1>
            <p class=indented>I play a lot of video games. Some of the first games I played were Pok&eacute;mon Gold, A Link to the Past, and AdventureQuest. I grew up playing on a SNES, a PlayStation One, a Game Boy Color, and a Nintendo DS.
            <p class=indented>I created my Steam account in 2011 to get Portal for free, and I've been a PC gamer ever since. Back then, I mostly played Team Fortress 2. I ran my own servers and <a href="https://sourcemod.net/plugins.php?author=bobomaster&search=1">wrote some plugins</a>.
            <p class=indented>I used to play a lot of Dota 2, and attended The International in 2016 and 2017.
            <p class=indented>I've played a lot of MMOs. I've settled on Final Fantasy XIV, but I've played Tera Online, Blade &amp; Soul, Dungeon Fighter Online, The Elder Scrolls Online, Star Wars: The Old Republic, Spiral Knights, Pok&eacute;MMO, Wakfu, and Rusty Hearts.
            <p class=indented>Here are my gaming PC's specs:
            <ul>
                <li>AMD Ryzen 9 3950X CPU
                <li>EVGA GeForce RTX 3080 FTW3 ULTRA GAMING Video Card
                <li>Asus TUF GAMING X570-PLUS Motherboard
                <li>G.Skill Ripjaws V 32GB DDR4-3600 RAM
                <li>Noctua NH-D15 CPU Cooler
                <li>Corsair RM750 Power Supply
                <li>Corsair 275R Airflow ATX Mid-Tower Case
            </ul>
            <hr>
            <ul>
                <li><a href="https://steamcommunity.com/id/tesu-">Steam</a>
                <li><a href="https://na.finalfantasyxiv.com/lodestone/character/20558971/">Final Fantasy XIV</a> (<a href="https://www.fflogs.com/character/id/17107024">FFLogs</a>)
                <li><a href="https://act.hoyolab.com/app/community-game-records-sea/index.html?user_id=38466490#/ys">Genshin Impact</a> (<a href="https://enka.shinshin.moe/u/604964451">Enka.Network</a>)
                <li><a href="https://www.groovestats.com/index.php?page=profile&id=77728">In the Groove</a>
                <li><a href="https://p.eagate.573.jp/gate/p/mypage/index.html?target_id=7355003">E-amusement</a>
                <li><a href="https://www.opendota.com/players/88741454">Dota 2</a>
                <li><a href="https://aq.battleon.com/game/flash/charview?temp=31603506">AdventureQuest</a>
                <li><a href="http://www.sploder.com/games/members/bobomaster/">Sploder</a>
                <li><a href="https://osu.ppy.sh/users/4196554">Osu!</a>
                <li><a href="https://www.pathofexile.com/account/view-profile/3edgy6u">Path of Exile</a>
                <li><a href="http://na-bns.ncsoft.com/ingame/bs/character/profile?c=Kurumiko">Blade &amp; Soul</a>
                <li><a href="https://www.overbuff.com/players/pc/tesu-11691">Overwatch</a>
            </ul>
{% endblock %}

